body {
    background-color: #f0f0f0;
}

.package-name {
    font-weight: bold;
    font-size: 20px;
    color: #1c7430;
}

.package-price {
    font-size: 25px;
    color: #005cbf;
}

.package-location {
    font-size: 16px;
    color: #6c757d;
}

.product-img{
    height: 160px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}